div {
    background-color: orange;
}

thead {
    background-color: orange;
    color: blanchedalmond;
}

body {
    background-image: url(fon.jpg);
    background-size: 100%;
    font-family: "Arial";
}

h1 {
    font-family: "Arial";
    font-weight: bold; 
    text-transform: uppercase;
    font-size: 35px; 
    color: black;
}

tbody {
    background-color: blanchedalmond;
}