body {
    background-image: url(fon.jpg);
    background-size: 100%;
    background-color: rgba(0, 0, 0,.5);
    backdrop-filter: blur(3px);
    font-family: Helvetica, sans-serif;
    color: blanchedalmond;
}

h1 {
    background-color: orange;
    color: rgb(0, 0, 0);
    font-family: "Arial";
    font-weight: bold; 
    text-transform: uppercase;
    font-size: 35px;  
}

hr {
    background-color: orange;
}

#text {
    font-family: "Arial";
    font-weight: bold; 
    text-transform: uppercase;
    font-size: 14px; 
}